.TypesSet
  display: flex
  flex-wrap: wrap
  justify-content:center

button 
  width: 70px
  padding: 5px
  margin: 2px

.normal
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(92, 92, 92)
  color: rgb(92, 92, 92)

.fighting
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(187, 137, 0)
  color: rgb(187, 137, 0)

.flying 
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(162, 241, 255)
  color: rgb(162, 241, 255)

.poison
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(68, 185, 0)
  color: rgb(68, 185, 0)

.ground 
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(73, 46, 15)
  color: rgb(73, 46, 15)

.rock 
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(71, 65, 55)
  color: rgb(71, 65, 55)

.bug
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(137, 167, 67)
  color: rgb(137, 167, 67)

.ghost
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(180, 180, 180)
  color: rgb(180, 180, 180)

.steel
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(104, 104, 104)
  color: rgb(104, 104, 104)

.fire
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(255, 154, 60)
  color: rgb(255, 154, 60)

.water 
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(70, 97, 219)
  color: rgb(70, 97, 219)

.grass 
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(6, 139, 17)
  color: rgb(6, 139, 17)

.electric 
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(204, 201, 1)
  color: rgb(204, 201, 1)

.psychic 
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(134, 1, 106)
  color: rgb(134, 1, 106)

.ice
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(125, 190, 243)
  color: rgb(125, 190, 243)

.dragon
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(104, 4, 4)
  color: rgb(104, 4, 4)

.dark
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(42, 38, 65)
  color: rgb(42, 38, 65)

.fairy 
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(248, 91, 240)
  color: rgb(248, 91, 240)

.unknown
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(42, 18, 61)
  color: rgb(42, 18, 61)

.shadow
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(114, 4, 158)
  color: rgb(114, 4, 158)
