white = rgb(255, 255, 255)
normal = rgb(92, 92, 92)
fighting = rgb(187, 137, 0)
flying = rgb(85, 228, 253)
poison = rgb(68, 185, 0)
ground = rgb(73, 46, 15)
rock = rgb(71, 65, 55)
bug = rgb(137, 167, 67)
ghost = rgb(180, 180, 180)
steel = rgb(104, 104, 104)
fire = rgb(255, 154, 60)
water = rgb(70, 97, 219)
grass = rgb(6, 139, 17)
electric = rgb(204, 201, 1)
psychic = rgb(134, 1, 106)
ice = rgb(125, 190, 243)
dragon = rgb(104, 4, 4)
dark = rgb(104, 4, 4)
fairy = rgb(248, 91, 240)
unknown = rgb(42, 18, 61)
shadow = rgb(114, 4, 158)

reset = rgb(12, 97, 196)
.typesSet
  display: flex
  flex-wrap: wrap
  justify-content:center

.resetWrapper
  display: flex
  flex-direction: column
  align-items: center

.resetButton 
  background-color: white
  border:2px solid reset
  color:reset
  
.resetButton:hover
  background-color: reset
  border: 2px solid reset
  color: white

button 
  width: 70px
  padding: 5px
  margin: 2px

.normal
  background-color: white
  border: 2px solid normal
  color: normal

.normal:hover
  background-color: normal
  border: 2px solid normal
  color: white

.fighting
  background-color: white
  border: 2px solid fighting
  color: fighting

.fighting:hover
  background-color: fighting
  border: 2px solid fighting
  color: white

.flying 
  background-color: white
  border: 2px solid flying
  color: flying

.flying:hover
  background-color: flying
  border: 2px solid flying
  color: white

.poison
  background-color: white
  border: 2px solid poison
  color: poison

.poison:hover
  background-color: poison
  border: 2px solid poison
  color: white

.ground 
  background-color: white
  border: 2px solid ground
  color: ground

.ground:hover
  background-color: ground
  border: 2px solid ground
  color: white

.rock 
  background-color: white
  border: 2px solid rock 
  color: rock 

.rock:hover
  background-color: rock
  border: 2px solid rock
  color: white

.bug
  background-color: white
  border: 2px solid bug
  color: bug

.bug:hover 
  background-color: bug
  border: 2px solid bug
  color: white

.ghost
  background-color: white
  border: 2px solid ghost
  color: ghost

.ghost:hover
  background-color: ghost
  border: 2px solid ghost
  color: white

.steel
  background-color: white
  border: 2px solid steel
  color: steel

.steel:hover
  background-color: steel
  border: 2px solid steel
  color: white

.fire
  background-color: white
  border: 2px solid fire
  color: fire

.fire:hover
  background-color: fire
  border: 2px solid fire
  color: white

.water 
  background-color: white
  border: 2px solid water
  color: water

.water:hover
  background-color: water
  border: 2px solid water
  color: white

.grass 
  background-color: white
  border: 2px solid grass 
  color: grass 

.grass:hover
  background-color: grass
  border: 2px solid grass
  color: white

.electric
  background-color: white
  border: 2px solid electric 
  color: electric 

.electric:hover
  background-color: electric
  border: 2px solid electric
  color: white

.psychic 
  background-color: white
  border: 2px solid psychic 
  color: psychic

.psychic:hover
  background-color: psychic
  border: 2px solid psychic
  color: white

.ice
  background-color: white
  border: 2px solid ice
  color: ice

.ice:hover
  background-color: ice
  border: 2px solid ice
  color: white

.dragon
  background-color: white
  border: 2px solid dragon
  color: dragon

.dragon:hover
  background-color: dragon
  border: 2px solid dragon
  color: white

.dark
  background-color: white
  border: 2px solid dark
  color: dark

.dark:hover
  background-color: dark
  border: 2px solid dark
  color: white

.fairy 
  background-color: white
  border: 2px solid fairy 
  color: fairy 

.fairy:hover
  background-color: fairy
  border: 2px solid fairy
  color: white

.unknown
  background-color: white
  border: 2px solid unknown
  color: unknown

.unknown:hover
  background-color: unknown
  border: 2px solid unknown
  color: white

.shadow
  background-color: white
  border: 2px solid shadow
  color: shadow

.shadow:hover
  background-color: shadow
  border: 2px solid shadow
  color: white