.App {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Header {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 106, 106);
  padding: 7px;
  margin-bottom: 10px;
}
.Wrapper {
  max-width: 1280px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.Pagination {
  margin: 20px 1px;
}