@keyframes spinning-ball
  for i in 0..10
    {10% * i}
      transform: rotate(i * 36deg)

.LoadingWrapper
  width: 100%
  height: 1000px
  display: flex
  justify-content: center
  align-items: center

.LoadingBall
  width: 75px
  height: 75px
  animation: spinning-ball 5s linear 0s infinite alternate
